<p id="notice"><%= notice %></p>

<h1>Matrículas</h1>

<%= link_to 'fazer matricula', new_classroom_path , class: "btn btn-primary btn-xs pull-right"%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>aluno</th>
      <th>curso</th>
      <th>data da matrícula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.student.name %></td>
        <td><%= classroom.course.name%></td>
        <td><%= classroom.entry_at %></td>
        <td><%= link_to 'editar', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'deletar', classroom, method: :delete, data: { confirm: 'quer mesmo deletar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

